
<header>
    <nav>
        <div class="container">
            <div class="text-center">
                <a href="/" class="nav-brand text-dark">User management system</a>
            </div>
        </div>
    </nav>
</header>
